* {
    padding: 0;
    margin: 0;
}


html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_canvas
{
	height: 100%;
}

#zoomcontrol
{
	position: absolute;
	top: 50%;
	left: 30px;
}

.infobox-title
{
	padding: 0 !important;
}

.title
{
	background-color: black;
	margin: 0;
	padding: 5px;
	color: white;
}

.info
{
	float: left;
}

.desc
{
	float: left;
}

.info-image
{
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 100px;
}

.information
{
	list-style:	none;
	padding: 0
}

.desc
{
	padding: 5px;
}

#topmenu {
 color:#00ff00;
}

header {
    height: 50px;
    background-color: #808080;
}

#NavButton {
   
    margin:10px;
    height:30px;
    width:70px;
    position:relative;
    padding:10px;
    background-color: #34b6ef;
    z-index:233;
}

#MenuBubble {
   position:absolute;
   width:200px;
   z-index:233;
   background-color:#f2df6e;
   margin:0px;
   top:22px;
   border-radius: 15px;
}

#BubbleCon {
    margin:10px;
    }

#BubbleCon form {
    padding:10px;
    }

#BubbleCon input {      
   margin-bottom: 10px;
   padding-left:3px;
   padding-right:3px;
    }

#BubbleCon label {
    margin-top: 5px;
    }

    #BubbleCon p {
        padding-left: 100px;
    }


#sidebar {
    z-index: 3;
    position:absolute;
    height:100%;
    min-height:700px;
    min-width:300px;
    
    float:none;
  /*  background-image: url("/images/shade.png");
    background-repeat: repeat; */
    background: rgba(0, 0, 0, 0.4);
    left:100%;
}

html {
    overflow-x: hidden;
}

#searchform {
    margin-left:47px;
    margin-top:70px;
}



#form-search {
    width:100%;
    position:absolute;
    left:30px;
    top:70px;
}

#form-search #search-box {

        background-color: white;
}

.input-metro {
        height:40px;
        width:230px;
        border: none;
        float:left;
        font-size: 20px;
        border-color: white;
        padding-left:10px;
        padding-right:50px;      
    }

 .button-metro {
        background: #f00 url("/imgs/icons/Compassion.png");
        background-size: 36px , 36px;
        width: 36px;
        height : 36px;
        position: absolute;
        left: 250px;
        top: 2px;
        border:none;
   }

#sidebar-menu {
    width: 100%;
    float:left;
    top:130px;
    position:absolute;
}

.menu-item {
    padding:10px;
    height:50px;
    cursor: pointer;
}


.sub-menu {
    padding-left:10px;
}

.sub-menu-item {
    height:30px;
    cursor: pointer;
}

.menu-item img {
    width:40px;
    height:40px;
    margin-top:4px;
    float:left;
}

.sub-menu-item  img{
    margin-top:4px;
    width:20px;
    height:20px;
    float:left;
}

    .menu-item span {
        color: white;
        font-size: 24px;
        top:15px;
        padding:15px;

    }

#header {
    background-color: #00ff00;
    height: 150px;
    width: 100%;
}

#content {
   height:80%;
   min-height:400px;
   background-color:#808080;
}

#container {
    height:700px;
    background-color:#f2df6e;
}

#mapDiv {
   height:100%;
   position:absolute;
}